<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Login to Oauth Services">
    <meta name="author" content="Rex Ijiekhuamen <dev.rexijie@gmail.com>">
    <title>LOG IN</title>
</head>
<body>
<form th:action="@{/oauth/login}" method="post">
    <h1>LOGIN PAGE</h1>
    <p th:if="error" th:text="${error}"></p>
    <label for="username">USERNAME</label>
    <input type="text" id="username" name="username" required autofocus> <br/>
    <label for="password">PASSWORD</label>
    <input type="password" id="password" name="password" required>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> <br/>
    <button type="submit">LOGIN</button>
</form>
</body>
</html>