<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Login to Oauth Services">
    <meta name="author" content="Rex Ijiekhuamen <dev.rexijie@gmail.com>">
    <title>LOG OUT</title>
</head>
<body>
<form th:action="@{/oauth/logout}" method="post">
    <h1>LOGOUT</h1>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> <br/>
    <button type="submit">Log Out</button>
</form>
</body>
</html>